html,
body {
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overscroll-behavior-y: none;
  user-select: none;
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

#app {
  height: 100%;
  max-height: 99vh;
}

h1 {
  font-family: 'Fredoka One', sans;
  font-size: 3.4em;
  margin-bottom: 0.8em;
  letter-spacing: 2px;
}

h2 {
  font-family: 'Fredoka One', sans;
  font-size: 2.1em;
}

canvas {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}


a {
  color: white;
}
a:visited {
  color: inherit;
}

.spotify-button {
  color: white;
  text-decoration: none;
  background-color: #1db954;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 18px 48px 16px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border-width: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 800;
  margin-top: 15px;
  display: inline-block;
}

.spotify-button:hover {
  background-color: #1ed760;
}


nav {
  display: flex;
  padding: 20px;
  text-decoration: none;
  color: white;
  font-family: 'Fredoka One', sans;
}
nav > a {
  display: inline-block;
  margin-right: 20px;
  font-size: 1.6em;
  text-decoration: none;
  transition: opacity 80ms ease-out;
}

nav > a:hover {
  opacity: 0.8;
}

.page {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  height: 100%;
  max-height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.column-1, .column-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 50%;
  align-items: start;
  height: 80%;
}

.page .about .creator {
  
}

.tag-line {
  font-size: 1.8em;
  margin-bottom: 1em;
}

.greek-hipster {
  position: absolute;
  right: 10%;
  left: auto;
  bottom: -100px;
  height: 90%;
}